* {
  margin: 0;
  padding: 0; }

.botones {
  margin-top: 45px;
  margin-left: 45px;
  margin-right: 15px;
  margin-bottom: 10px;
  padding: 30px; }

.logo {
  margin: 20px;
  padding: 20px;
  filter: brightness(1.1);
  mix-blend-mode: multiply; }

.background-img {
  background-image: url(../img/zz.jpeg); }

.mainpics {
  display: flex;
  margin: 5px;
  padding: 5px;
  justify-content: center;
}

body {
  display: grid;
  background-position: center; }
  body header {
    display: flex;
    justify-content: space-between; }
    body header a {
      text-decoration: none;
      font-family: 'Roboto';
      color: #080808;
      font-weight: bold;
      font-size: 18px;
      font-style: inherit;
      justify-content: space-around; }
  body p {
    font-family: 'Roboto';
    font-size: 30px;
    font-style: oblique;
    font-weight: bold;
    margin-top: 80px;
    margin-right: 50px;
    margin-left: 50px;
    text-align: center; }
  body article {
    display: grid;
    margin-top: 10;
    margin-bottom: 100px; }
  body footer {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 25px; }
